
/*=========== min media query start ===========*/
@media(min-width:1440px){
  .container{
    max-width: 1170px;
  }
}
/*=========== min media query close ===========*/

/*=========== max media query start ===========*/
@media(max-width:1600px) {
  .feature-img {
    max-width: 308px;
    height: 308px;
  }
}

@media(max-width:1439px) {
  .feature-img {
    max-width: 276px;
    height: 276px;
  }
  .line-title {
    padding: 7px 0 7px 20px;
  }
  .mdTitle {
    font-size: 22px;
  }
  .footer-section {
  	padding: 40px 0px;
  }
}

@media(max-width:1439px) {
  .fig-caption {
    padding: 10px 25px;
  }
  .fig-caption .h5 {
    font-size: 14px;
  }
  .tager-line {
    font-size: 11px;
  }
  .map-box {
    height: 400px;
  }
  .sponsor-section {
    padding: 40px 0px;
  }
  .sponsor-slider .swiper-slide img {
    width: 85px;
    height: 85px;
    object-fit: contain;
  }
  .footer-section {
  	padding: 40px 0px;
  }
}

@media(max-width:1366px) {
  .feature-img {
    max-width: 261px;
    height: 261px;
  }
}

@media(max-width:1199px) {
  .feature-img {
    max-width: 231px;
    height: 231px;
  }
  .sponsor-slider .swiper-slide {
    text-align: center;
  }
}

@media(max-width:991px) {
  .infor-box {
    padding: 30px 0px;
  }
  .map-box {
    height: 300px;
    width: auto;
    position: relative;
  }
  .map-box iframe {
    position: absolute;
    left: -50%;
    width: calc(100vw + 50%);
    top: 0;
    bottom: 0;
  }
  .review-section {
    padding: 40px 0px 20px;
  }
  .sponsor-section {
    padding: 40px 0px;
  }
  .sponsor-slider {
    padding-top: 40px;
  }
  .client-img {
    width: 90px;
    height: 90px;
  }
  .box-shadow {
    padding: 20px;
  }
  .review-box .title-col {
    width: 100%;
  }
  .client-slider .swiper-button-next, .client-slider .swiper-button-prev {
    display: none;
  }
}

@media(max-width:767px) {
  .sponsor-slider .swiper-slide img {
    width: 65px;
    height: 65px;
  }
  .feature-img {
    max-width: 239px;
    height: 239px;
  }
  .line-title {
    padding: 4px 0 4px 20px;
  }
  .line-title:before {
    border-width: 4px;
  }
  .mdTitle {
    font-size: 16px;
  }
  .client-img {
    width: 70px;
    height: 70px;
  }
  .review-section {
    padding: 30px 0px 15px;
  }
  .sponsor-section {
    padding: 30px 0px;
  }
  .sponsor-slider {
    padding-top: 30px;
  }
  .footer-section {
    padding: 20px 0px;
  }
  .prepend-footer {
    margin-top: 40px;
    padding-top: 20px;
  }
  .line-row li {
    padding: 2px 0px;
  }
  .line-row li + li::before {
    display: none;
  }
  .box-shadow {
    padding: 15px;
  }
  .client-slider {
    padding: 10px;
  }
}

@media(max-width:575px) {
  .map-box {
    height: 200px;
  }
  .infor-box > ul > li {
    text-align: center;
    padding: 5px 0px;
  }
  .infor-box ul li .icon-item {
    margin: 5px auto 10px;
  }
  .footer-section {
    font-size: 13px;
  }
  #whychooseus {
    height:45em;
  }

}


@media(max-width:479px) {
  .feature-img {
    max-width: 187px;
    height: 187px;
  }
  .fig-caption {
    padding: 8px 15px;
  }
  .fig-caption .h5 {
    font-size: 12px;
  }
  .tager-line {
    font-size: 10px;
  }
}

@media(max-width:375px) {
  .feature-img {
    max-width: 100%;
    height: 167px;
  }
}




/*=========== max media query close ===========*/
