body, html {
    height: 100%;
    
}

/* mine start */
a,a:hover {
  text-decoration: none;
}
ul, ol {
  margin: 0;
  padding: 0;
  list-style-type:none;
}
a, .btn {
  -webkit-transition: all 500ms ease-in-out 0s;
  -o-transition: all 500ms ease-in-out 0s;
  transition: all 500ms ease-in-out 0s;
}
.btn.focus, .btn:focus, .form-control:focus {
  box-shadow: none;
}

.btnPrimary {
	background-color: #00c89e;
	border-radius: 0;
  padding: 13px 15px;
  font-size: 14px;
  font-weight: 700;
}
.btnPrimary, .btnPrimary:hover {
	color: #fff;
}
.btnPrimary:hover {
	background-color: #088369;
}
/* mine start */

.header button{
    background-color: #00c89e;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: small;
}

.btn-success{
    background-color: #00c89e !important;
    border-color: #00c89e;
}

.btn-success:hover, .btn-success:active, .btn-success:visited{
    background-color: #03a07e !important;
    border-color: #00c89e;
}

.navbar-toggler
{
  z-index: 1000;
  right: -0.5%;
}

.icon{
    color: #00c89e;
}

.icon span{
    font-family: 'Montserrat', sans-serif;
    font-size: small;
}

.card-text {
    font-weight: 300;
}

.card-title {
    font-family: 'Montserrat', sans-serif;
    font-size: x-large;
}

.money {
    font-family: 'Montserrat', sans-serif;
    color : #00c89e;
    font-weight: bold;
    font-size: large;
}

.multi-item-carousel {
  overflow: hidden;
}

.multi-item-carousel .carousel-indicators {
  margin-right: 25%;
  margin-left: 25%;
}

.multi-item-carousel .carousel-control-prev,
.multi-item-carousel .carousel-control-next {
  background: rgba(255, 255, 255, 0.3);
  width: 20%;
}

.multi-item-carousel .carousel-inner {
  width: 180%;
  left: -40%;
}

.carousel-inner > .carousel-item.next,
.carousel-inner > .carousel-item.active.right {
  -webkit-transform: translate3d(33%, 0, 0);
  transform: translate3d(33%, 0, 0);
}

.carousel-inner > .carousel-item.prev,
.carousel-inner > .carousel-item.active.left {
  -webkit-transform: translate3d(-33%, 0, 0);
  transform: translate3d(-33%, 0, 0);
}

.carousel-caption{
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
}

.item__third {
  float: left;
  position: relative;
  width: 33.33333%;
}

.card-carousel {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30em;
  transform: translate(-50%, -50%);
}

.sidebar-wrapper {
    min-height: 100vh;
    position: absolute;
    z-index: 100;
}

.sidebar-wrapper .list-group {
    width: 15rem;
}

.property {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: beige;
    font-family: 'Montserrat', sans-serif;
}
/*button for sale*/
.property .btn-outline-success{
    border-color: #00c89e;
    color: black;
    font-weight: 600;
    font-size: small;
}
/*button for rent*/
.property .btn-success {
    background-color: #00c89e;
    border: 0;
    font-size: small;
    font-weight: 600;
}
.property select {
    font-size: small;
    color: gray;
    background: white;
}
/*select arrow*/
.property .style:after {
    font-family: FontAwesome;
    font-weight: 100;
  	content: '\f107';
  	font-size: 15px;
  	position: absolute;
  	top: 15px;
  	right: 25px;
  	color: grey;
}
.property .up {
    font-size: small;
    color: grey;
}
.icon-plus i {
    color: #00c89e;
}
.icon-plus span {
    font-size: small;
    font-weight: 600;
}

.property-img {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}
.property-img .breadcrumb-item::before {
    content: "|";
}
.property-img .breadcrumb .active::before {
    content: none;
}
.property-img .breadcrumb-item {
    color: grey;
}
.property-img .card {
    border: 0;
}
.property-img .tel{
    float: right;
    color: #00c89e;
    font-weight: 600;
    font-size: small;
}
.property-img .price {
    color: #00c89e;
    font-weight: 600;
}
.property-img .price i {
    float: right;
}
.property-img .small-grey {
    color: grey;
    font-weight: 500;
    font-size: small;
}
.property-img .small-grey i {
    color: #00c89e;
}

.slider{
    position: absolute;
    z-index: 1;
    height: 7px;
    width: 100%;
}

.slider > .track {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: gainsboro;
}

.slider > .range {
    position: absolute;
    z-index: 2;
    left: 25%;
    right: 25%;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: #00c89e;
}


.slider > .thumb {
    position: absolute;
    z-index: 3;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #00c89e;
    opacity: 1;
}

.slider > .thumb.left {
    left: 25%;
    transform: translate(0px, -4px);
}

.slider > .thumb.right {
    right: 25%;
    transform: translate(0px, -4px);
}

input[type=range] {
    position: absolute;
    pointer-events: none;
    z-index: 2;
    -webkit-appearance: none;
    height: 10px;
    width: 100%;
    opacity: 0;
}

input[type="range"]::-webkit-slider-thumb {
    pointer-events: all;
    width: 20px;
    height: 20px;
    border-radius: 0;
    border: 0 none;
    -webkit-appearance: none;
}

/* -------------------------
 builder layout start
------------------------- */
.feature-img:hover .fig-caption {
	-webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
	top: calc(50% - 5px);
}
.feature-img {
	max-width: 370px;
	height: 370px;
	overflow: hidden;
	margin: 5px 0px;
	display: block;
	background-color: #dfdfdf;
}
.obj-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.fig-caption {
	position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 15px 30px;
  text-align: center;
	-webkit-transition: all 500ms ease-in-out 0s;
	-o-transition: all 500ms ease-in-out 0s;
	transition: all 500ms ease-in-out 0s;
}
.fig-caption span {
	display: block;
}
.fig-caption .h5 {
	color: #111111;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 4px;
}
.tager-line {
	font-size: 12px;
  font-weight: 700;
  color: #52c89e;
}
/* -------------------------
 builder layout start
------------------------- */

/* -------------------------
 review layout start
------------------------- */
.review-section {
  padding: 60px 0px 30px;
  font-family: 'Montserrat', sans-serif;
}
.review-box .title-col {
	width: calc(100% - 120px);
}
.mdTitle {
	font-size: 24px;
	font-weight: 700;
	color: #111111;
}
.line-title {
	position: relative;
	padding: 9px 0 9px 20px;
}
.line-title:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	border-left: 5px solid #00c89e;
}
.client-slider {
	padding: 15px;
}
.box-shadow {
	background-color: #fff;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
  padding: 30px;
	font-size: 13px;
  font-weight: 500;
}
.client-img {
	width: 100px;
	height: 100px;
	overflow: hidden;
	border-radius: 50%;
}
.author-details {
	padding-left: 10px;
}
.author-details h6 {
	font-size: 17px;
	font-weight: 700;
	color: #111111;
}
.designation {
	color: #00c89e;
  font-size: 15px;
  margin-bottom: 8px;
}
.rating-star ul {
	font-size: 11px;
}
.rating-star ul li {
	display: inline-block;
}
.rating-star ul li i {
	color: #ffb129;
}
.client-slider .swiper-button-next {
	right: 15px;
}
.client-slider .swiper-button-prev {
	right: 70px;
	left: auto;
}
.client-slider .swiper-button-next, .client-slider .swiper-button-prev {
	top: 40px;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background-color: #f2f2f2;
}
.client-slider .swiper-button-next:after {
	background-image: url("img/testimonial-author/arrow-right.png");
}
.client-slider .swiper-button-next:after, .client-slider .swiper-button-prev:after {
	content: "";
	font-size: 0;
	width: 22px;
  height: 13px;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}
.client-slider .swiper-button-prev:after {
	background-image: url("img/testimonial-author/arrow-left.png");
}
/* -------------------------
 review layout close
------------------------- */

/* -------------------------
 sponsor layout start
------------------------- */
.sponsor-section {
	padding: 50px 0px;
}
.sponsor-slider {
	padding-top: 50px;
	border-top: 1px solid #ebebeb;
}
/* -------------------------
 sponsor layout close
------------------------- */

/* -------------------------
 address layout start
------------------------- */
.bg-color {
	background-color: #f7f7f7;
}
.infor-box {
	padding: 50px 0px;
}
.infor-box > ul > li {
	padding: 15px 0px;
}
.infor-box ul li .icon-item {
	width: 50px;
	height: 50px;
	background-color: #00c89e;
	color: #fff;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.info-cont-ent {
	color: #111111;
}
.info-cont-ent h6 {
	font-size: 14px;
	font-weight: 700;
}
.info-cont-ent .address-line {
	font-size: 10px;
	color: #111111;
}
.info-cont-ent ul li {
	display: inline-block;
}
.address-line ul li + li:before {
	content: "|";
	padding: 0px 5px;
  margin-top: -2px;
  display: inline-block;
  vertical-align: middle;
}
.info-cont-ent ul li a {
	display: inline-block;
	color: inherit;
}
.map-box {
	height: 450px;
  width: 100vw;
}
/* -------------------------
 address layout close
------------------------- */

/* -------------------------
 footer layout start
------------------------- */
.footer-section {
	padding: 60px 0px;
	background-color: #103230;
	color: #9fadac;
	font-size: 14px;
  font-weight: 500;
}
.f-box-number1 .f-logo {
	display: inline-block;
}
.f-box-number1 .article {
	padding: 20px 0;
}
.article p {
	line-height: 22px;
}
.social-links ul li {
	display: inline-block;
	padding-right: 5px;
}
.social-links ul li a {
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #254442;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
}
.social-links ul li a:hover {
	-webkit-transform: 	translateY(-5px);
	-ms-transform: 	translateY(-5px);
	transform: 	translateY(-5px);
}
.smTitle {
	font-size: 20px;
	color: #fff;
}
.main-links li {
	padding-bottom: 10px;
	display: block;
}
.main-links li a {
	color: inherit;
	display: inline-block;
}
.main-links li a:hover {
	color: #fff;
}
.formStyle .form-control {
	border-color: #3f5957;
  border-radius: 0px;
  background-color: transparent;
  color: #9fadac;
  font-size: 14px;
  font-weight: 500;
  padding: 11px 15px;
  height: auto;
}
.prepend-footer {
	border-top: 1px solid #1e3f3c;
	margin-top: 60px;
	padding-top: 30px;
}
.by-text {
	color: #095490;
}
.line-row li {
	color: #435150;
	display: inline-block;
}
.line-row li + li::before {
	content: "|";
	padding: 0px 5px;
}
/* -------------------------
 footer layout close
------------------------- */

#whychooseus {
  background-size: 100%;
  width: 100%;
  height: 30em;
  background-image: url('img/chooseus/chooseus-bg.jpg');
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  color:white;
}

#whychooseus p {
  font-size: small;
  font-weight: 200;
  
}

#whychooseus h6 {
  font-weight: 700;
}

.image-cropper {
  width: 5em;
  height: 5em;
  position: relative;
  border-radius: 50%;
}
.wcu1 {
  margin-left: 10px;
}
  
/*----------------------
Feature Property Section
-----------------------*/   
#featureproperty {
  background-color: white;
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 70px;
  padding-bottom: 70px;
}

#featureproperty h6{
  font-size: small;
}

#fp .btn{
  color: #00c89e;
  background-color: white;
  border-color: #00c89e;
  font-size: x-small;
}

#fp  {
  background-color: #1e3f3c ;
  color:white;
  padding-bottom: 35px;
  padding-top: 20px;
  font-family: 'Montserrat', 'sans-serif';
}


.list-group li{
  background-color: #1e3f3c;
  border-right:#7b807f;
  border-left: #1e3f3c;
  border-top: #1e3f3c;  
}
#fp ul{
  font-size: x-small;  
}

#fp h6 {
    text-align: center;
}

#fp5 {
  display: flex;
  align-items: flex-start;
  color: white;
  font-size: 10px;
}

#fp6 {
  color:white;
  font-size: 12px;
}

#fp6 .btn{
  font-size: 12px;
  padding: 3px 7px 3px 7px;
}

.fp7 {
  padding-right: 0;
  padding-left: 3px;
  opacity: 75%;
}

.fp8 {
  padding-left: 0;
  opacity: 75%;
}

#fp9 {
  align-items: center;
  padding-left:0;
  flex-direction: column;

}

#fp10 {
  padding-right: 0;
}

.fp11 {
  color: white;
  opacity: 50%;
  font-size: 10px;
  padding-right: 0;
}

.fp12 {
  color: white;
  font-size: 10px;
  padding-left: 12px;
  font-weight: bolder;
} 

.fp13 {
  border-left-width: 1px ;
  border-left-color: white;
  
}
/*------------------------------
End of Feature Property Section
------------------------------*/    
/*----------------------
Latest Property Section
-----------------------*/

#latestproperty  { 
  background-color: rgb(238, 238, 238);  
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 70px;
  padding-bottom: 50px;
  font-family: 'Montserrat', 'sans-serif';
}
#latestproperty .btn{
  font-size: smaller;
  color: black;
  background-color: white;
  border-color: white;
}

#title {
    padding-left: 85px;
    align-items: flex-start;
    padding-bottom: 20px;
    margin: 0;
}

#title2{
  padding-right: 85px;
  align-items: flex-end;
  padding-bottom: 20px;
  margin:0;
}
#AshtonK {
  padding-top: 15px;
  font-size:small;  
}

#tel {
    color: #00c89e;
    font-size: x-small;
}

#ic2 {
  color: #00c89e ;
}

.lp1 {
  padding-top: 25px;
  padding-bottom:0;
}

#lp2 {
margin-right: 10px;
margin-left: 10px;
}
 
/*----------------------------
End of Latest Property Section
-----------------------------*/
@media screen and (max-width:767px) {
.small {
  width: 100%;
}

#featureproperty{
padding-left: 50px;
  padding-right: 50px;
  padding-top: 70px;
  padding-bottom: 70px;
}

#latestproperty {
  padding-right: 50px;
  padding-left: 50px;

}


.lp1 {
  padding-left:0px;
  padding-right:0px;
}

#lp2 {
  margin-top:10px;
  margin-bottom: 10px;
}
#title {
  text-align: center;
  padding-left: 15px; 
}

#title2 {
  text-align: center;
  padding-right: 40px;
  padding-left: 40px ;
}
#fp10 .btn {
  width: 100%;
  font-size: 5px;
}

.fp8 {
  margin-right: 7px;
}

#fp9{
  font-size: 10px;
  padding-left: 4px;
  padding-right: 0;
}
.fp16 {
  text-align: center;
}

}
@media (min-width:767px) and (max-width:1023px){
#latestproperty {
padding-left: 50px;
padding-right: 50px;
}

#featureproperty {
  padding-left: 100px;
  padding-right: 100px;
}


#title {
  padding-left: 60px;
}
#title2 {
  padding-right:70px
}
.fp16 {
  text-align: center;
}
}
@media (min-width:1024px) and (max-width:1439px){


#featureproperty {
  padding-left: 120px;
  padding-right: 120px;
}  

#fp9 {
  padding-left: 5px;
}

.fp16 {
  text-align: center;
  padding-top:70px;
}

}





